:root {
  --main-yellow: #FBE8A6;
  --main-salmon: #F4976C;
  --dark-blue: #303C6C;
  --mid-blue: #B4DFe5;
  --light-blue: #D2FDFF;
}

.splash-container {
  // background: var(--main-yellow);
  background: transparent;
  position: absolute;
  z-index: 10;
}

.home-container {
  position: absolute;
  z-index: 10;
  top: 80px;
}

.favorites-index {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  z-index: 3;
  overflow: scroll;
  width: 200px;
  height: 800px;
}

.business-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}