:root {
  --main-yellow: #FBE8A6;
  --main-salmon: #F4976C;
  --dark-blue: #303C6C;
  --mid-blue: #B4DFe5;
  --light-blue: #D2FDFF;
}

.splash-container {
  // background: var(--main-yellow);
  background: transparent;
  position: absolute;
}

.home-container {
  position: relative;
  // top: 80px;
  display: block;
  box-sizing: border-box;
  align-items: center;
}

.favorites-index {
  background-color: #b4dfe5c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // box-sizing: border-box;
  // padding: 50px 0px;
  z-index: 3;
  overflow-y: auto;
  // overflow-y: scroll;
  // padding-top: 80px;
  width: 220px;
  height: 528px;
  position: relative; bottom: 620px; left: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
}

.index-container {
  height: 0px;
}

.business-card-container {
  width: 100%;
  border-bottom: rgb(231, 230, 230) 5px solid;
  box-sizing: border-box;
}

.business-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0px;
  width: 100%;
}

.click-icons > * {
  padding: 5px;
}

.heart-icon:hover {
  color: rgb(245, 124, 144);
}

.check-icon:hover {
  color: rgb(1, 156, 1);
}

.business-title {
  font-size: 18px;
}

.business-address {
  font-size: 12px;
}