:root {
  --main-yellow: #FBE8A6;
  --main-salmon: #F4976C;
  --dark-blue: #303C6C;
  --mid-blue: #B4DFe5;
  --light-blue: #D2FDFF;
}

.splash-container {
  background: transparent;
  position: absolute;
}

.home-container {
  position: relative;
  display: block;
  box-sizing: border-box;
  align-items: center;
}


.favorites-index {
  background-color: #b4dfe5c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
  // height: 528px;
  border-radius: 16px;
  box-sizing: border-box;
  height: auto;
  padding: 3px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.index-container {
  height: 0px;
}



.index-wrapper{
  height: 64vh;
  width: 220px;
  position: absolute;
  bottom: 20%;
  left: 8%;
  overflow-y: auto;
}

.business-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 10px;
  padding-left: 5px;
  width: 100%;
}

.business-card-container {
  width: 100%;
  // border-bottom: #e7e6e6 5px solid;
  box-sizing: border-box;
  position: relative;
  right: 12px;
}

.click-icons > * {
  padding: 5px;
}

.heart-icon {
  color: rgb(245, 124, 144);
}

.heart-icon:hover {
  color: rgb(213, 65, 89);
}

.check-icon:hover {
  color: rgb(1, 156, 1);
}

.business-title {
  font-size: 18px;
}

.business-address {
  font-size: 12px;
}

.fav-no-display {
  display: none;
}

.fav-button {
  position: absolute;
  top: 13%;
  left: 8%;
}