:root {
  --main-yellow: #FBE8A6;
  --main-salmon: #F4976C;
  --dark-blue: #303C6C;
  --mid-blue: #B4DFe5;
  --light-blue: #D2FDFF;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-top: 4px;
  padding: 12px 16px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid lightgray;
  background-color: var(--main-yellow);
  color: var(--dark-blue);
}

input:focus {
  outline-offset: 0px;
  outline: none;
  border: 3px solid var(--dark-blue);
  border-radius: 12px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
}

.auth-btn {
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  padding: 12px 16px;
  background-color: var(--main-salmon);
  border-radius: 20px;
  color: var(--dark-blue);
  text-align: center;
}

.auth-btn:hover {
  cursor: pointer;
}

.need-account {
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 16px;
  padding-top: 36px;
}

.need-account:hover {
  cursor: pointer;
  text-decoration: underline;
}

.auth-title {
  color: var(--dark-blue);
}

.already-member {
  color: var(--dark-blue);
}

.already-member:hover {
  cursor: pointer;
}

.auth-footer {
  color: var(--dark-blue);
}

.close-x {
  display: flex;
  justify-content: flex-end;
  position: relative; left:48px; bottom:32px;
}

.close-x:hover {
  cursor: pointer;
}