:root {
  --main-yellow: #FBE8A6;
  --main-salmon: #F4976C;
  --dark-blue: #303C6C;
  --mid-blue: #B4DFe5;
  --light-blue: #D2FDFF;
  --main-red: #9c1010;
}
.nav-greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 24px;
}

.nav-logout {
  margin-left: 16px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 0px 16px;
  font-weight: 600;
  color: var(--dark-blue);
}



.logo-wrapper {
  margin-left: 24px;
  display: flex;
  height: 80px;
  align-items: center;
}

.home-links-loggedin {
  display: flex;
  align-items: center;
  height: 80px;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: var(--mid-blue);
};

.navbar-container {
  // position: sticky;
}

.login-signup {
  display: flex;
  height: 80px;
  align-items: center;
  margin-right: 20px;
  background: var(--mid-blue);
  background-color: transparent;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.login-signup > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 24px;
  padding: 8px 12px;
  height: 40px;
  margin: 8px;
  font-weight: 600;
}

.login-btn {
  background: #e3841e;
  color: var(--main-yellow);
}

.login-btn:hover {
  cursor: pointer;
  background: #e9a459;
}

.signup-btn {
  background: var(--dark-blue);
  color: var(--main-yellow);
}

.signup-btn:hover {
  background: #5f6ea9;
  cursor: pointer;
}

.nav-username {
  margin-top: 12px;
  padding: 2px;
}

.nav-logout:hover {
  cursor: pointer;
  background: var(--dark-blue);
  color: var(--light-blue)
}

.nav-icons {
  color: var(--dark-blue);
  padding: 8px;
  border-radius: 24px;
}

.nav-icons:hover {
  color: #47589d;
}

.user-greeting {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--dark-blue);
}

.map-header {
  position: absolute; right: 1560px; bottom: 16px;
  color: var(--dark-blue);
}
.map-header2 {
  position: absolute; right: 1560px; bottom: 16px;
}

.top-logo {
  width: 300px;
  height: auto;
}

.top-logo2 {
  width: 300px;
  height: auto;
}

.navbar2 {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: var(--main-salmon);
}