:root {
  --main-yellow: #FBE8A6;
  --main-salmon: #F4976C;
  --dark-blue: #303C6C;
  --mid-blue: #B4DFe5;
  --light-blue: #D2FDFF;
}

.home-logo1 img{
  width: 150px;
  margin-top: 5px;
};

.home-logo2 {
  width: 24px;
  height: 24px;
  padding: 8px;
  margin-left: -8px;
  border-radius: 50px;
};

.home-logo2:hover {
  background: rgb(239, 239, 239);
}

.nav-greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 24px;
}

.nav-logout {
  margin-left: 16px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 0px 16px;
  font-weight: 600;
  color: var(--dark-blue);
}

// .home-logo2:hover {
//   border: solid 1px;
//   border-radius: 100pc;
//   background-color: aliceblue;
//   border-color: aliceblue;
// }

.home-link {
  display: flex;
  align-items: center;
  height: 48px;
  border-radius: 24px;
  padding: 0px 16px;
  background-color: rgb(17, 17, 17);
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
}

.logo-wrapper {
  margin-left: 24px;
  display: flex;
  height: 80px;
  align-items: center;
}

.home-links-loggedin {
  display: flex;
  align-items: center;
  height: 80px;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 0px 40px 12px rgba(0, 0, 0, 0.06);
  background: var(--mid-blue);
};

.login-signup {
  display: flex;
  height: 80px;
  align-items: center;
  margin-right: 20px;
}

.login-signup > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 24px;
  padding: 8px 12px;
  height: 40px;
  margin: 8px;
  font-weight: 600;
}

.login-btn {
  background: #e3841e;
  color: var(--main-yellow);
}

.login-btn:hover {
  cursor: pointer;
  background: #e9a459;
}

.signup-btn {
  background: var(--dark-blue);
  color: var(--main-yellow);
}

.signup-btn:hover {
  background: #5f6ea9;
  cursor: pointer;
}

.nav-username {
  margin-top: 12px;
  padding: 2px;
}

.nav-logout:hover {
  cursor: pointer;
  background: var(--dark-blue);
  color: var(--light-blue)
}


.nav-icons {
  color: grey;
  padding: 8px;
  border-radius: 24px;
}

.nav-icons:hover {
  background: rgb(239, 239, 239);
}

.user-greeting {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--dark-blue);
}