:root {
  --main-yellow: #FBE8A6;
  --main-salmon: #F4976C;
  --dark-blue: #303C6C;
  --mid-blue: #B4DFe5;
  --light-blue: #D2FDFF;
  --main-orange: #e9a459;
}

.map-container {
  display: flex;
  justify-content: flex-end;
  background: var(--mid-blue);
}

.google-map {
  border: 30px #e3841e;
}

.map {
  height: 100vh;
  width: 100vw;
}

.search-bar > input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-top: 4px;
  padding: 12px 16px;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid var(--mid-blue);
  background-color: var(--dark-blue);
  color: var(--light-blue);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-bar > input::placeholder {
  color: var(--light-blue)
}

.search-bar > input:focus {
  outline-offset: 0px;
  outline: none;
  border: 3px solid var(--main-salmon);
  border-radius: 12px;
}

.locate {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 9;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

.compass-one {
  display: none;
}

.compass-two {
  background-color: #b4dfe5b7;
  padding: 5px;
  border-radius: 12px;
  border: solid 1px var(--main-salmon);
  align-self: flex-end;
  color: var(--dark-blue);
  font-size: 14px;
  margin-right: 4px;
}
