:root {
  --main-yellow: #FBE8A6;
  --main-salmon: #F4976C;
  --dark-blue: #303C6C;
  --mid-blue: #B4DFe5;
  --light-blue: #D2FDFF;
  --main-orange: #e9a459;
}

.map-container {
  display: flex;
  justify-content: center;
  background: var(--main-orange);
}

.search-bar > input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-top: 4px;
  padding: 12px 16px;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid var(--mid-blue);
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.search-bar > input::placeholder {
  color: var(--dark-blue)
}

.search-bar > input:focus {
  outline-offset: 0px;
  outline: none;
  border: 3px solid var(--dark-blue);
  border-radius: 12px;
}