body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #e3841e;
  z-index: 10;
  margin: 0;
  padding: 0;
  font-size: 40px;
}
.map-header2 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #303C6C;
  z-index: 10;
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}